@font-face {
    font-family: PaladinsCondensed-rB77;
    src: url(../images/PaladinsCondensed-rB77.otf)
}

body {
    background-image: url(../images/crystal-cave.jpg);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: monospace;
}

#gameName {
    background-image: linear-gradient(orange, red);
    font-family: PaladinsCondensed-rB77;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 15px;
}

#gameNameText {
    font-size: 30px;
    padding-top: 5px;
}

#directions {
    background-image: linear-gradient(rgba(255,0,0,.75), rgba(0,0,255,.75));
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    border-radius: 15px;
}

#winningNum {
    background-image: linear-gradient(rgba(0,0,255,.75), rgba(128,0,128,.75));
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    /* margin-left: 10px; */
    margin-right: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
    height: 75px;
}

#current-score-text {
    font-family: PaladinsCondensed-rB77;
    font-size: 42px;
}

#scoreKeeper {
    background-image: linear-gradient(rgba(0,0,255,.75), rgba(128,0,128,.75));
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    /* padding-bottom: 10px; */
    border-radius: 15px;
    height: 75px;
}

#yourScoreText {
    margin-top: 10px;
}

/* #container2{
    margin-bottom: 10px;
    width: 50%;
} */

.button {
    /* display: block; */
    overflow: hidden;
    height: 125px;  
    width: 100px;
    background-color: white;
    margin-right: 10px;
}

img {
    position: relative;
    right: 10px;
    overflow: hidden;
    height: 125px;
    width: 100px;
}

/* #first-button {
    background-image: url(../images/tourmaline.jpg);
}

#second-button {
    background-image: url(../images/tourmaline.jpg);
}

#third-button {
    background-image: url(../images/tourmaline.jpg);
}

#fourth-button {
    background-image: url(../images/tourmaline.jpg);
} */

#yourScoreText {
    background-image: linear-gradient(rgba(128,0,128,.75), rgba(255,0,0,.75));
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    /* height: 75px; */
}

#yourScore {
    background-image: linear-gradient(rgba(255,0,0,.75), rgba(255,165,0,.75));
    font-family: PaladinsCondensed-rB77;
    font-size: 42px;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 15px;
    height: 75px;
}